body{
	background:aqua;
}
.subdiv1{
	background: #ee82ee;
	margin:4%;
	width:19%;
	height: 300px;
	border-radius: 4%;
	text-align: center;
	box-shadow: 1PX 1PX 1PX 1PX;
}
.maindiv{
	background: pink;
	display: flex;
	justify-content: space-around;
	margin:10%
	border-radius:4%;
}
img{
	height: 40%;
	width: 40%;
	margin: 1%;
	border-radius: 5%;
}
.leftdiv{
	background:skyblue;
	margin:4%;
	width:25%;
 box-shadow:4px 4px 4px 4px;
	border-radius: 4%;
	text-align: center;

} 
	
}
.rightdiv{
	background: bisque;
}